
      h2{
        margin-top: 5px;
        font-size: 20px;
        color: #fff;
      }

      .b_bottom_content {
        background: url('/assets/imgs/bg_home.jpg');
        background-size: 100%;
        padding-top: 15px;
        padding-left: 15px;
        overflow: hidden;
      }
    
      .b_bottom_content img {
        width: 80px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        border: 2px solid #fff;
      }
    
      .box-c-right {
        display: inline-block;
      }
    
      .box-c-right h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        color: #fff;
      }
      
      .p_more_user {
            margin-top: 0px;
            margin-bottom: 0px;
            color: #fff;
            padding-left: 5px;
      }

      .btn-smartjob-small-action
      {
            padding: 0 0.9em;
      }

      .list-menu-more
      {
        width: 100%;
      }

      .btn-list-more{
        color: #757575;
      }
    