<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'contact_system'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="contact()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label>{{'title'|translate}}</ion-label>
        <ion-input [(ngModel)]="data.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'message'|translate}}</ion-label>
        <ion-textarea [(ngModel)]="data.description" name="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <div class="no-img" *ngIf="picToView==''" (click)="add_slip()">{{'select_picture2'|translate}}</div>
        <img src="{{picToView}}" *ngIf="picToView!=''" (click)="add_slip()" [src]="picToView">
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" [disabled]="data.title==''||data.description==''" type="submit" class="ion-no-margin">
        {{'send_message'|translate}}</ion-button>
    </div>
  </form>

</ion-content>