
  .profile {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border: 4px solid #ddd;
  }
  .b_top {
    height: 150px;
    background: url("/assets/imgs/bg_home.jpg");
    background-size: cover;
    background-position: fixed;
    background-color: orangered;
  }