<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{data.fullname}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="data.imgprofile"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h3>{{data.fullname}}</h3>
        <p (click)="tel(data.mobile)">{{data.mobile}}</p>
      </ion-label>
    </ion-item>
    <ion-card-heder>
      <h3 text-center>
        {{'detail'|translate}}
      </h3>
    </ion-card-heder>
    <ion-card-content>


      <ion-row>
        <ion-col>
          {{'date_time'|translate}}
        </ion-col>
        <ion-col>
          <strong>
            {{data.payment_date}}
          </strong>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          {{'amount'|translate}}
        </ion-col>
        <ion-col>
          <strong>
            {{data.amount}} {{'baht'|translate}}
          </strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{'message'|translate}}
        </ion-col>
        <ion-col>
          <strong>
            {{data.description}}
          </strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img (click)="view(data.slip)" [src]="data.slip"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="success" shape="round" fill="outline" (click)="confirm()">{{'confirm'|translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="danger" shape="round" fill="outline" (click)="cancel()">{{'cancel'|translate}}
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="dark" shape="round" fill="outline" (click)="closeModal()">{{'close'|translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>