<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'confirm_email'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding text-center>
  <ion-row color="primary" justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <h3 *ngIf="success" style="padding: 10px;border-radius: 10px; color:green;" text-center>
        {{'p_email_code'|translate}}
      </h3>
      <form [formGroup]="verifyForm">
        <div style="padding: 0px 10%;">
          <ion-item>
            <ion-input type="number" style="font-size: 30px;" [(ngModel)]="userData.verifycode"
              formControlName="Infoverifycode"
              [class.error1]="!verifyForm.controls.Infoverifycode.valid && verifyForm.controls.Infoverifycode.dirty">
            </ion-input>
          </ion-item>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <div padding>
    <ion-button color="success" shape="round" fill="outline" (click)="verify()" [disabled]="!verifyForm.valid">
      {{'confirm'|translate}}</ion-button>

  </div>
</ion-content>