<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'settings'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-menu-more">
    <ion-list>
      <ion-item (click)="cancel()">
        <ion-icon name="heart-dislike" slot="start"></ion-icon>
        {{'cancel_business'|translate}}
        <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>